<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
              crossorigin="anonymous">

        <title>Ads Generator</title>
    </head>

    <body class="container-xl">

    {% include 'nav.html' %}
    {{ msg }}
    {% block content %}
    <h1>Index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque non lectus ut rhoncus. Donec quis
        sapien mollis, congue lectus eget, ultricies metus. Ut pretium felis ac erat molestie pulvinar. Phasellus eget
        est id felis tincidunt sollicitudin vel sit amet odio. Integer quis metus dignissim, bibendum dolor at, finibus
        ante. Aliquam vel dui quis neque pretium dictum a ac massa. Etiam varius libero a felis interdum, lacinia
        pharetra lacus aliquet. Etiam lobortis, quam et vulputate efficitur, velit ipsum tempor felis, in vestibulum
        tortor dolor et lectus. Praesent faucibus ullamcorper pulvinar. Vestibulum vel porttitor odio. Nam aliquam
        eu ipsum in blandit.
    </p>

    <p>Quisque vulputate augue euismod ante luctus, non scelerisque tellus rutrum. Nam lorem dui, congue ac tortor id,
        semper accumsan magna. Mauris nunc lorem, iaculis sed mauris et, porttitor volutpat dui. Cras at leo sed justo
        accumsan fringilla. Etiam vel metus nec ex blandit sollicitudin. Aenean id tempus lorem. Sed suscipit mollis
        sodales. Etiam dictum lacinia lectus, ut gravida lacus tincidunt ac. Mauris a lorem tristique, dictum orci a,
        ultrices nulla. Aliquam accumsan, metus vitae commodo semper, lectus ex posuere justo, sit amet pulvinar diam
        ipsum non sem. Sed tempor ex in diam euismod porta. Praesent luctus nisi in tristique congue. Mauris auctor in
        lectus posuere commodo. Ut feugiat metus nisl, vitae tempus leo bibendum ut. Donec volutpat, lectus cursus
        semper posuere, ante ipsum feugiat sapien, sit amet placerat tellus augue nec tortor. Ut laoreet molestie ex,
        ac ultrices turpis condimentum sit amet.</p>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
    </body>
</html>