{% extends 'base.html' %}
{% block content %}
    <h1>{{ headline }}</h1>
    <button onclick="location.href='add_{{ urls }}/'" type="button" class="btn btn-primary">{{ button }}</button>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Keywords</th>
      <th scope="col">Adtexts</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
        <td>{{ item }}
            - <small><a href="update_keyword/{{ item.id }}">edit</a></small>
            <small><a href="delete_keyword/{{ item.id }}">delete</a></small>
        </td>
        {% for adtext in adtexts %}
        <td>{{ adtext.adtext_headline_1 }} - <small><a href="update_adtext/{{ adtext.id }}">edit</a></small><br />
            {{ adtext.adtext_headline_2 }}<br />
            {{ adtext.adtext_description_1 }}<br />
            {{ adtext.adtext_description_1 }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}