{% extends 'base.html' %}
{% block content %}
    <h1>{{ headline }}</h1>
    <button onclick="location.href='/add_{{ urls }}/'" type="button" class="btn btn-primary">{{ button }}</button>
    <div class="list-group list-group-flush">
    {% for item in object_list %}
        <a class="list-group-item list-group-item-action"> {{ item }}</a>
    {% endfor %}
    </div>
    <div class="list-group list-group-flush">

    </div>
    <h2>Table form</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Keyword</th>
      <th scope="col">Adtext</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
        <th scope="row">{{ item }} - <small><a href="/update_keyword/{{ item.id }}">edit</a></small></th>
        {% for adtext in adtexts %}
        <td>{{ adtext.adtext_headline_1 }} - <small><a href="/update_adtext/{{ adtext.id }}">edit</a></small><br />
            {{ adtext.adtext_headline_2 }}<br />
            {{ adtext.adtext_description_1 }}<br />
            {{ adtext.adtext_description_1 }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}