{% extends 'base.html' %}
{% block content %}
    <h1>{{ headline }}</h1>
    <button onclick="location.href='add_{{ urls }}/'" type="button" class="btn btn-primary">{{ button }}</button>

    <!-- Keyword Table-->
    <table class="table mt-4" style="width: 75%">
      <thead>
        <tr>
          <th scope="col" style="width: 50%">Keyword</th>
          <th scope="col" style="width: 25%">Keyword Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <small><a href="update_keyword/{{ item.id }}">edit</a></small>
                    <small><a href="delete_keyword/{{ item.id }}">delete</a></small>
                    <button onclick="location.href='{{ item.id }}/generate_adtext/'" type="button" class="btn btn-outline-primary ml-2">generate ad</button>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Ad Table-->
    <table class="table mt-5" style="width: 75%">
        <thead >
            <tr>
              <th scope="col" style="width: 50%">Adtext</th>
              <th scope="col" style="width: 25%">Adtext Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for adtext2 in adtexts %}
                <tr>
                    <td>{{ adtext2.adtext_headline_1 }}<br/>
                        {{ adtext2.adtext_headline_2 }}<br />
                        {{ adtext2.adtext_description_1 }}<br />
                        {{ adtext2.adtext_description_2 }}
                    </td>
                    <td>
                        <small><a href="update_adtext/{{ adtext2.id }}">edit</a></small>
                        <small><a href="delete_adtext/{{ adtext2.id }}">delete</a></small><br>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}