{% extends 'base.html' %}
{% block content %}
    <h1>{{ headline }}</h1>
    <button onclick="location.href='add_{{ urls }}/'" type="button" class="btn btn-primary">{{ button }}</button>
    <ul class="list-group w-50 mt-4">
    {% for item in object_list %}
        <li class="list-group-item list-group-item-action">
            <a href="/{{ urls }}/{{ item.id }}/">{{ item }}</a>
            - <small><a href="/update_{{ urls }}/{{ item.id }}">edit</a></small>
                <small><a href="/delete_{{ urls }}/{{ item.id }}/">delete</a></small>
        {% for template in item.adtexttemplate_set.all %}
                 <small><a href="/update_adtext_template/{{ template.id }}">template</a> </small>
                 <small><a href="/delete_adtext_template/{{ template.id }}">delete template</a> </small>
            {% empty %}
            <small>(no template <a href="/add_adtext_template/">add template</a>)</small>
        {% endfor %}
        </li>
    {% endfor %}

    </ul>
{% endblock %}