{% extends 'base.html' %}
{% block content %}
    <h1>{{ headline }}</h1>
    <button onclick="location.href='add_{{ urls }}/'" type="button" class="btn btn-primary">{{ button }}</button>
    <ul class="list-group w-50 mt-4">
    {% for item in object_list %}
        <li class="list-group-item list-group-item-action">
            <a href="/{{ urls }}/{{ item.id }}/">{{ item }}</a>
            - <small><a href="/update_{{ urls }}/{{ item.id }}">edit</a></small>
            {%  for template in adtextstemplate %}
                <small><a href="/update_adtext_template/{{ template.id }}">template</a></small>
                {% endfor %}
                <small><a href="/delete_{{ urls }}/{{ item.id }}/">delete</a></small>
        </li>
    {% endfor %}
    </ul>
{% endblock %}