    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ads Generator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/campaigns/">Campaigns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_campaign/">Add Campaign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_adgroup/">Add Adgroup</a>
            </li>
            {% if user.is_authenticated %}
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
          {% if user.is_authenticated %}
            <p>Hello {{ user.username }}, <a href="{% url 'logout' %}">logout?</a> </p>
          <span></span>
          {% else %}
              <p><a href="{% url 'login' %}">Login</a></p>
          {% endif %}
          </span>
        </div>
      </div>
    </nav>